.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
   -webkit-box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.8);
   -moz-box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.8);
   box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.8);
/* www.cssmatic.com/box-shadow */  
}
.navbar-form {
  margin-top: 12px;
}
.jumbotron { 
  background-color: #000d7d;
  color: #ffffff;
  background-color: #ffffff;
  color: #000d7d;
  margin-bottom: 0;
}
.table td {
   text-align: center;   
   vertical-align: middle;
}
.table tr {
   text-align: center;   
   vertical-align: middle;
}
.table th {
   text-align: center;   
   vertical-align: middle;
}
.table {
  border: 0.5px solid #000000;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 0.5px solid #000000;
}
.box-shadow {
   -webkit-box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.8);
   -moz-box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.8);
   box-shadow: 10px 10px 22px -7px rgba(0,0,0,0.8);
}
.panel {
  border: 1.5px solid #000000;
}
.btn:focus, .btn:active:focus, .btn.active:focus{
  outline: none;
}
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000d7d;
}
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 8px;
  left: 15px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
